<main>
    <header>
        <h1>Aplicacion para auth con EJS</h1>
    </header>
    <div class="container">
        <form action="/login" method="POST" autocomplete="off">
            <input type="text" name="username" placeholder="Username">
            <input type="text" name="password" placeholder="Password">
            <input type="submit" value="Login"> 
        </form>
    </div>
</main>I