<!DOCTYPE html=5>
<html lang="en">
<head> 
    <%- include('../partials/head') %>
</head>
<body>
    <%- include('../partials/main') %> 
    <footer>
        <p>© Copyright 2020 The Awesome People</p>
    </footer>
    <script src="js/script.js"></script>
</body>
</html> 